.container-fluid {
    height: 90vh; /* Prend 90% de la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement le contenu */
  }
  .is-invalid {
    border-color: #dc3545;
  }
  .invalid-feedback {
    color: #dc3545;
    display: block;
  }
