<div *ngIf="isLoading; else loaded" class="d-flex justify-content-center align-items-center my-3">
  <div class="spinner-border text-primary me-3" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ng-template #loaded>
  <div class="container" >
    <!-- Error message -->
    <div *ngIf="errorMessage" class="alert alert-danger my-3">{{ errorMessage }}</div>
    
    <!-- Success message -->
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ successMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Loading state for the entire page -->
    <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-2">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Processing...</span>
      </div>
    </div>
    <div *ngFor="let ride of rides">
    <div ngbAccordion>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton class="row w-100">
                    <!-- Texte aligné à gauche -->
                    <div class="col-5">
                      <span class="text-start">
                        from <b>{{ ride.ride.depart }}</b>
                      </span>
                      <br>
                      <span class="text-start">
                        to <b>{{ ride.ride.destination }}</b>
                      </span>
                      <br>
                      <span class="text-start">
                        on <b>{{ ride.ride.dateRide | date: 'short' }}</b>
                      </span>
                    </div>
                    <div class="col-3">
                      <ngb-rating 
                                [(rate)]="ride.review"
                                [max]="5" 
                                [readonly]="true"
                                >
                                <ng-template let-fill="fill" let-index="index">
                                    <i
                                    class="bi-star-fill"
                                    [ngStyle]="{
                                        background: 'linear-gradient(to right, #ffc107 ' + fill + '%, #e4e5e9 ' + fill + '%)',
                                        '-webkit-background-clip': 'text',
                                        '-webkit-text-fill-color': 'transparent',
                                        'font-size': '1.3em'
                                    }"
                                    ></i> 
                                </ng-template>    
                            </ngb-rating>
                    </div>
                    <!-- Icône alignée à droite -->
                    
                    <div class="col-1 ms-1">
                      <button class="btn btn-light" (click)="openEditModal(ride.ride); $event.stopPropagation();">
                        <i 
                        class="bi bi-pencil text-end " 
                        title="Edit Ride">
                      </i>
                      </button>
                    </div>
                    <div class="col-1 ms-1">
                      <button class="btn btn-light hover-color-red" (click)="openDeleteModal(ride.ride); $event.stopPropagation();">
                        <i 
                          class="bi bi-trash custom-delete-icon text-end " 
                          title="Delete Ride">
                        </i>
                      </button>
                    </div>
                    <div class="col-1 ms-1">
                      <button class="btn btn-light " (click)="openCommentModal(ride.ride); $event.stopPropagation();">
                        <i 
                          class="bi bi bi-chat text-end " 
                          title="Comment and Review">
                        </i>
                      </button>
                    </div>
                  </button>                  
              </h2>              
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
            <ng-template>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">passenger</th>
                            <th scope="col">date</th>
                            <th scope="col">status</th>
                            <th scope="col">rate by you</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let res of ride.reservations">
                            <tr>
                                <td>{{res.reservation.passenger.firstName}} {{res.reservation.passenger.lastName}}</td>
                                <td>{{res.reservation.dateReservation|date: 'short' }}</td>
                                <td>{{res.reservation.status}}</td>
                                <td>
                                  <ngb-rating 
                                    [(rate)]="res.review.review"
                                    [max]="5" 
                                    [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i
                                        class="bi-star-fill"
                                        [ngStyle]="{
                                            background: 'linear-gradient(to right, #ffc107 ' + fill + '%, #e4e5e9 ' + fill + '%)',
                                            '-webkit-background-clip': 'text',
                                            '-webkit-text-fill-color': 'transparent',
                                            'font-size': '1.3em'
                                        }"
                                        ></i> 
                                    </ng-template>    
                                  </ngb-rating>
                                </td>
                                <td> 
                                  <button 
                                    *ngIf="res.reservation.status === 'Terminé'" 
                                    class="btn btn-warning btn-sm"
                                    (click)="openReviewModal(res.review, res.reservation.ride, res.reservation.passenger)"
                                    [disabled]="isProcessing">
                                    <i 
                                      class="bi bi-star"
                                    title="review edit"></i>
                                  </button>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </ng-template>
            </div>
        </div>
        </div>
    </div>
    </div>
  </div>


<div [class.modal-open]="isDeleteModalOpen">
  <!-- model delete-->
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    [class.show]="isDeleteModalOpen"
    [ngStyle]="{ display: isDeleteModalOpen ? 'block' : 'none' }"
    aria-hidden="true"
    (click)="closeDeleteModal()"
  >
    <div class="modal-dialog" role="document" (click)="$event.stopPropagation()">
      <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Processing...</span>
        </div>
      </div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Deletion</h5>
          <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the ride from <b>{{ selectedRide.depart || ""}}</b> to <b>{{ selectedRide.destination || "" }}</b>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteRide()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- model Edit-->
<div [class.modal-open]="isEditModalOpen">   
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    [class.show]="isEditModalOpen"
    [ngStyle]="{ display: isEditModalOpen ? 'block' : 'none' }"
    aria-hidden="true"
    (click)="closeEditModal()"
    *ngIf="isRides"
  >
    <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
      <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Processing...</span>
        </div>
      </div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update ride</h5>
          <button type="button" class="btn-close" (click)="closeEditModal()"></button>
        </div>
        <div class="modal-body w-100">
          <app-update-ride [ride]="selectedRide" class="d-flex justify-content-center align-items-center w-100"></app-update-ride>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- model comment-->
<div [class.modal-open]="isCommentModalOpen">
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    [class.show]="isCommentModalOpen"
    [ngStyle]="{ display: isCommentModalOpen ? 'block' : 'none' }"
    aria-hidden="true"
    (click)="closeCommentModal()"
    *ngIf="isRides"
  >
    <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
      <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Processing...</span>
        </div>
      </div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reviews</h5>
          <button type="button" class="btn-close" (click)="closeCommentModal()"></button>
        </div>
        <div class="modal-body">
          <app-view-reviews [ride]="selectedRide"></app-view-reviews>
        </div>
      </div>
    </div>
  </div>
</div>  
  <!-- model comment-->
<div [class.modal-open]="isReviewModalOpen">
	<div
  *ngIf="selectedReview !== defaultReview"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  [class.show]="isReviewModalOpen"
  [ngStyle]="{ display: isReviewModalOpen ? 'block' : 'none' }"
  aria-hidden="true"
  (click)="closeReviewModal()"
>
  <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
    <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-3">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Processing...</span>
      </div>
    </div>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reviews edit</h5>
        <button type="button" class="btn-close" (click)="closeReviewModal()"></button>
      </div>
      <div class="modal-body">
    <app-review-update [review]="selectedReview || defaultReview" [isDriver]=true></app-review-update>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedReview === defaultReview" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog" style="max-width: 45%;">  <!-- Réduire la largeur de la modal -->
    <div 
      *ngIf="isProcessing" 
      class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-2">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Processing...</span>
      </div>
    </div>
    <div class="modal-content ">
      <div class="modal-header" style="height: 40px;">
        <h5 class="modal-title" style="font-size: 18px;">Review Ride</h5> <!-- Diminuer la taille du titre -->
        <button type="button" class="btn-close" aria-label="Close" (click)="closeReviewModal()"></button>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger my-3">{{ errorMessage }}</div>
      <div class="modal-body" style="padding: 15px;" >
        <!-- Affichage du message de trajet avec les détails et le nom du conducteur -->
        <div class="ride-message" style="font-size: 14px;"  >
          <p><strong>{{ user.firstName }} {{ user.lastName }}:</strong> "We hope you enjoyed your ride from {{ selectedRide.depart }} to {{ selectedRide.destination }} on 
            {{ selectedRide.dateRide | date:'short' }}. Please take a moment to rate your experience with the passanger <p>
        </div>
        
        <!-- Section de notation en étoiles -->
        <div style="font-size: 14px;"  >
          <div class="star-rating d-flex flex-row ">
            <h6 class="me-1 pt-1">Rate the Passenger ({{passenger.firstName }} {{ passenger.lastName }}):</h6>  
            <!-- <ngb-rating [(rate)]="rating" [max]="5" class="large-rating"></ngb-rating> -->
              <ngb-rating [(rate)]="rating" [max]="5" >
                <ng-template let-fill="fill" let-index="index">
                  <i class="bi-star{{ fill === 100 ? '-fill' : '' }}" [class.filled]="fill === 100" ></i>
                </ng-template>
              </ngb-rating>
          </div>
        </div>
        
        <!-- Section pour un commentaire -->
        <div class="row" >
          <div class="col-md-10">
            <!-- <label for="reviewText" style="font-size: 14px;">Leave a Review:</label> -->
            <input id="reviewText" class="form-control" [(ngModel)]="reviewText" placeholder="Write your review here..." style="font-size: 14px; padding: 5px;" >
          </div>
          <button type="button" class="btn btn-primary col-md-2 " (click)="submitReview(passenger)" style="font-size: 14px; ">Submit </button>
        </div>
      
      
      </div>
      
  </div>
</div>
</div>

</div>
</ng-template>