<div *ngIf="isLoading; else loaded" class="d-flex justify-content-center align-items-center my-3">
  <div class="spinner-border text-primary me-3" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ng-template #loaded>
  <div class="container" >
    <!-- Error message -->
    <div *ngIf="errorMessage" class="alert alert-danger my-3">{{ errorMessage }}</div>
    
    <!-- Success message -->
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ successMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Loading state for the entire page -->
    <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-2">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Processing...</span>
      </div>
    </div>
    <div *ngFor="let ride of rides">
    <div ngbAccordion>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton class="row w-100">
                    <!-- Texte aligné à gauche -->
                    <span class="text-start col-5">
                      Ride from <b>{{ ride.ride.depart }}</b> to <b>{{ ride.ride.destination }}</b> 
                      on <b>{{ ride.ride.dateRide | date: 'short' }}</b>
                    </span>
                    <div class="col-2">
                      <ngb-rating 
                                [(rate)]="ride.review"
                                [max]="5" 
                                [readonly]="true">
                                <ng-template let-fill="fill" let-index="index">
                                    <i
                                    class="bi-star-fill"
                                    [ngStyle]="{
                                        background: 'linear-gradient(to right, #ffc107 ' + fill + '%, #e4e5e9 ' + fill + '%)',
                                        '-webkit-background-clip': 'text',
                                        '-webkit-text-fill-color': 'transparent',
                                        'font-size': '1.5em'
                                    }"
                                    ></i> 
                                </ng-template>    
                            </ngb-rating>
                    </div>
                    <!-- Icône alignée à droite -->
                    <div class="col-auto">
                      <button class="btn btn-light ms-2" (click)="openEditModal(ride.ride); $event.stopPropagation();">
                        <i 
                        class="bi bi-pencil text-end ms-5" 
                        title="Edit Ride">
                      </i>
                      </button>
                      </div>
                      <div>
                      <button class="btn btn-light ms-2 hover-color-red" (click)="openDeleteModal(ride.ride); $event.stopPropagation();">
                    <i 
                      class="bi bi-trash custom-delete-icon text-end ms-5" 
                      title="Delete Ride">
                    </i>
                </button>
              </div>
                  </button>                  
              </h2>              
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
            <ng-template>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">passenger</th>
                            <th scope="col">date</th>
                            <th scope="col">status</th>
                            <th scope="col">rate</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let res of ride.reservations; let i = index">
                            <tr>
                                <th scope="row">{{i}}</th>
                                <td>{{res.reservation.passenger.firstName}} {{res.reservation.passenger.lastName}}</td>
                                <td>{{res.reservation.dateReservation|date: 'short' }}</td>
                                <td>{{res.reservation.status}}</td>
                                <td>
                                  <ngb-rating 
                                    [(rate)]="res.review.review"
                                    [max]="5" 
                                    [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i
                                        class="bi-star-fill"
                                        [ngStyle]="{
                                            background: 'linear-gradient(to right, #ffc107 ' + fill + '%, #e4e5e9 ' + fill + '%)',
                                            '-webkit-background-clip': 'text',
                                            '-webkit-text-fill-color': 'transparent',
                                            'font-size': '1.5em'
                                        }"
                                        ></i> 
                                    </ng-template>    
                                  </ngb-rating>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </ng-template>
            </div>
        </div>
        </div>
    </div>
    </div>
  </div>



  <!-- model delete-->
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    [class.show]="isDeleteModalOpen"
    [ngStyle]="{ display: isDeleteModalOpen ? 'block' : 'none' }"
    aria-hidden="true"
    (click)="closeDeleteModal()"
  >
    <div class="modal-dialog" role="document" (click)="$event.stopPropagation()">
      <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Processing...</span>
        </div>
      </div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Deletion</h5>
          <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the ride from <b>{{ selectedRide?.depart || ""}}</b> to <b>{{ selectedRide?.destination || "" }}</b>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteRide()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- model delete-->
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    [class.show]="isEditModalOpen"
    [ngStyle]="{ display: isEditModalOpen ? 'block' : 'none' }"
    aria-hidden="true"
    (click)="closeEditModal()"
    *ngIf="isRides"
  >
    <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
      <div *ngIf="isProcessing" class="position-absolute top-0 start-0 w-100 h-100 bg-light bg-opacity-75 d-flex justify-content-center align-items-center z-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Processing...</span>
        </div>
      </div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update ride</h5>
          <button type="button" class="btn-close" (click)="closeEditModal()"></button>
        </div>
        <div class="modal-body">
          <app-update-ride [ride]="selectedRide"></app-update-ride>
        </div>
      </div>
    </div>
  </div>
</ng-template>