<app-review 
  *ngIf="isModalVisible" 
  [isModalVisible] ="isModalVisible"
  [ride]="ride" 
  [passengerList]="passengerList" 
  [isDriver]="isDriver" 
  [user]="user">
</app-review>
<app-navbar ></app-navbar>
<div *ngIf="isLoading; else loaded" class="d-flex justify-content-center align-items-center my-3">
	<div class="spinner-border text-primary me-3" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>
<ng-template #loaded>
  <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ successMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="d-flex flex-row" >

    <div class="filter-form" >
      <app-filter-form (onListRidesUpdate)="handleListRidesUpdate($event)"></app-filter-form>
    </div>

    <div class="ride-list" >
        <app-ride-list [ListRides] ="ListRides"></app-ride-list>
    </div>
  </div>
</ng-template>

<button class="add-button" (click)="openRideModal()">
  <span class="tooltip">Add a Ride</span>
  +
</button>

<div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    [class.show]="isRideModalOpen"
    [ngStyle]="{ display: isRideModalOpen ? 'block' : 'none' }"
    aria-hidden="true"
    (click)="closeRideModal()"
>
    <div class="modal-dialog modal-lg" role="document" (click)="$event.stopPropagation()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Ride</h5>
            <button type="button" class="btn-close" (click)="closeRideModal()"></button>
          </div>
          <div class="modal-body">
            <app-add-ride></app-add-ride>
          </div>
        </div>
      </div>
</div>